* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner-wrap {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto:best/Model-S-homepage-desktop");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

nav {
display: flex;
justify-content: space-between;
}

.logo {
    height: 24px;
    width: 120px;
}
